<nav class="navbar">
  <div class="container">
    <ul class="navbar-menu">
      <li class="navbar-menu__item"><a href="{% url 'category' slug='antivirus' %}" class="navbar-menu__link">Антивирусы</a></li>
      <li class="navbar-menu__item"><a href="{% url 'developer' slug='microsoft' %}" class="navbar-menu__link">Microsoft</a></li>
      <li class="navbar-menu__item"><a href="{% url 'category' slug='graphics_editor' %}" class="navbar-menu__link">Графические редакторы</a></li>
      <li class="navbar-menu__item"><a href="{% url 'category' slug='soft' %}" class="navbar-menu__link">Софт</a></li>
    </ul>
    <!-- /.navbar-menu -->
  </div>
  <!-- /.container -->
</nav>